#services{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    
    top: 0px;
    left: 0px;
    right: 0px;
}
#services .box{
    margin-right: 14px;
    font-size: 1rem;

}
#navbar ul{
    display: flex;
    flex-direction: column;
    font-family: 'Baloo Bhai 2', cursive;
}
#navbar{
    padding-bottom: 85px;
    display: flex;
    top: 0px;
    left: 0px;
    right: 0px;
    flex-wrap: wrap;
}
#navbar ul li{
    font-family: 'Baloo Bhai 2', cursive;
}
.btn{
    height:80px;
}
#clients img{
    height:60px;
    width:60px;
    padding: 0px;
    
    

}
#clients{
    display: flex;
    align-items: center;
    justify-content: center;
}
#clientitem{
    margin: 4px;
    padding: 4px;

}
#clientsection{
    margin-bottom: 13px;
}
#home{
    height:450px;
    padding:10px;
    top: 0px;
    left: 0px;
    right: 0px;
}
#home::before{
    height:700px;
    top: 0px;
    left: 0px;
    right: 0px;
    opacity:0.4;
}
body{
    
}
#hprimary {
    font-family: 'Baloo Bhai 2', cursive;
    
}
